<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nCkHlOiV0sRgSIcjvfoyGZvm"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
       <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom, {devicePixelRatio:2});
            var app = {};
            option = null;
            myChart.showLoading();
            $.getJSON('{{ url_for('get_json') }}?class_threshold={{ class_threshold }}&word_threshold={{ word_threshold }}&ac_id={{ ac_id }}', function (jsons) {

                var json = JSON.parse(jsons)
                myChart.hideLoading();
                myChart.setOption(option = {
                    title: {
                        text: ''
                    },
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    backgroundColor:'#2c343c',
                    tooltip: {},
                    series : [
                        {
                            type: 'graph',
                            layout: 'none',
                            progressiveThreshold: 700,
                            symbolSize:500,
                            data: json.nodes.map(function (node) {
                                return {
                                    x: node.x,
                                    y: node.y,
                                    id: node.id,
                                    name: node.id,
                                    symbolSize: node.size,
                                    itemStyle: {
                                        normal: {
                                            color: node.color
                                        }
                                    }
                                };
                            }),
                            edges: json.edges.map(function (edge) {
                                return {
                                    source: edge.from,
                                    target: edge.to
                                };
                            }),
                            label: {
                                emphasis: {
                             
                                    position: 'top',
                                    show: true,
                                    fontFamily:'Microsoft YaHei',
                                    color:'#fff',
                                    fontWeight: 'bolder',
                                    textBorderColor:'transparent'
                                }
                            },
                            roam: true,
                            focusNodeAdjacency: true,
                            lineStyle: {
                                normal: {
                                    width: 0.5,
                                    curveness: 0.2,
                                    opacity: 0.7
                                }
                            }
                        }
                    ]
                }, true);
            });;
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
       </script>
   </body>
</html>